.container{
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    /* width: 100%; */
    width: 1520px;
    /* background-color: gray; */
    padding: 10px;
    margin: 0px auto 0;
}
.filter_container{
    /* background-color: green; */
    padding: 10px 0 0 20px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
input[type='search']{
    padding: 2px 0 2px 5px;
    background-color: rgb(216, 216, 216);
    border-radius: 2px;
    width: 45%;
    outline: none;
    border: none;
}
.categories{
    height: 150px;
    overflow: auto;
    font-size: 18px;
    font-weight: bold;
    color: rgb(116, 116, 117);
    margin-top: 5px;
    cursor: pointer;
    letter-spacing: 1px;
}
.categories_active{
    color: #98B4D4;
    transition: 0.1s;
}
.categories::-webkit-scrollbar {
    display: none;
}
.companies_select{
    width: 24%;
    border: none;
    outline: none;
    padding: 1px 0px 2px 0;
    font-size: 18px;
    font-weight: bold;
    color: rgb(116, 116, 117);
    background-color: rgb(216, 216, 216);
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}
.colors{
    display: flex;
    font-size: 18px;
    font-weight: bold;
    color:rgb(116, 116, 117) ;
    margin-top: 5px;
    cursor: pointer;
}
.color{
    /* background-color: red; */
    height: 24px;
    width: 24px;
    border-radius: 50%;
    margin-left: 5px;
    border: 1px solid black;
    cursor: pointer;
    /* padding: 10px; */
}
.color_active{
    /* background-color: white; */
    border: 2px solid #FFD700;
    transition: 0.1s;
}
.range{
    margin-top: 10px;
}
.range_details{
    font-size: 22px;
}
.range_pricetage{
    font-weight: bold;
}
.range_price{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    color: rgb(138, 138, 138);
    font-size: 20px;
}
input[type='range']{
    width: 45%;
    cursor: pointer;
}
input[type='checkbox']{
    width: 50px;
    cursor: pointer;
}
.button{
    background-color: #98B4D4;
    border: none;
    color: white;
    padding: 2px 22px 2px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 16px;
    border-radius: 5px;
    transition: 0.2s;

}
.button:hover{
    background-color: #75a3d7;
}
.label{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 10px;
}



















.product_container{
    /* background-color: blueviolet; */
    display: grid;
    grid-template-rows: 50px;
    grid-template-columns: 1fr;
    padding-right: 20px;
}
.topbar_container{
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-between;
    margin: 10px 0 0 0;
}
.grid_icon{
    display: flex;
    width: 60px;
    justify-content: space-between;
    cursor: pointer;
}
.product_count{
    font-size: 18px;
    font-weight: bold;
    color: rgb(116, 116, 117);

}
.line{
    margin-top: 15px;
    border-top: 2px solid rgb(232, 232, 232);
    width: 600px;
}
.short_container{

}
.short_select{
    width: 150px;
    border: none;
    outline: none;
    padding: 2px 4px 2px 4px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(116, 116, 117);
    cursor: pointer;
}

.grid_container{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows: repeat(auto-fill, 200px);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
.grid_image{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}
.grid{
    /* background-color: pink; */
    margin-bottom: 20px;
}
.gird_details{
    display:flex;
    justify-content: space-between;
}
.grid_name{
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family:  Arial, sans-serif;
    padding-left: 2px;
}
.grid_price{
    font-size: 18px;
    color: #4fa94d;
    font-family:  Arial, sans-serif;
    letter-spacing: 1px;
    padding-right: 2px;
}


.list{
    /* background-color: #4CAF50; */
}
.list_container{
    display: grid;
    grid-template-rows: 200px ;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    margin-top: 18px;
}
.list_image{
    /* background-color: greenyellow; */
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
.list_info{
    /* background-color: brown; */
    grid-column: 2/span 3;
}
.list_name{
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.list_price{
    font-size: 20px;
    color: #4fa94d;
    font-weight: 500;
    letter-spacing: 1px;
    font-family:  Arial, sans-serif;
    font-weight: bold;
}
.list_detail{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    text-align: justify;
}
.list_button{
    /* background-color: #4CAF50; */
    background-color: #4fa94d;
    border: none;
    color: white;
    padding: 2px 22px 2px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 14px;
    border-radius: 5px;
    transition: 0.2s;
}
.list_button:hover{
    background-color: #060c18;
}

.loader{
   
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: -webkit-translate(-50%, -50%);
    transform: -moz-translate(-50%, -50%);
    transform: -ms-translate(-50%, -50%);
    color:darkred;
}
