.container{
    /* padding: 20px; */
    position: fixed;
}
.wrapper{
    display: flex;
    padding: 50px;
    padding-left: 120px;
    padding-right: 120px;
    height: 96vh;
    /* background-color: green; */
}
.heading{
    background-color: #a4d9a3;
    width: 100%;
    height: 4rem;
    
}

.heading p{
    color: #0f4f0d;
    font-size: 25px;
    margin-left: 100px;
    padding: 12px;
    padding-left: 20px;
    font-weight: 800;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.containerLeft{
    /* background-color: red; */
    width: 18rem;
    height: auto;
    /* padding-left: 4rem; */
    padding-right: 2rem;
    padding-bottom: 1rem;
    /* margin-top: 3rem; */
    padding-top: 2rem;
    position: sticky;
    /* position: fixed; */
    /* background-color: cyan; */
    
}
input[type='search']{
    width: 100%;
    outline: none;
    /* border: 1px solid black; */
    border: none;
    background-color: rgb(237, 237, 237);
    padding: 6px;
    padding-left: 8px;
}
.list{
    position: absolute;
    height: auto;
    margin-top: 40px;
    list-style-type: none;
    background-color: white;
    width: 86%;
    margin-left: 12px;
}
.list1{
    margin-top: 4px;
    font-size: 16px;
    color: rgb(41, 41, 167);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing:1px;
    font-weight: bold;
    cursor: pointer;
}
.category{
    cursor: pointer;
}
.allCategory{
    height: 8rem;
    margin-top: 8px;
    overflow: auto;
}
.all{
    color: rgb(94, 92, 92);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing:1px;
    font-weight: bold;
    cursor: pointer;
}
.categoryList{
    /* color: red; */
    color: rgb(94, 92, 92);
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing:1px;
    font-weight: bold;
}
.categoryListActive{
   /* color: red; */
   /* color: white; */
   font-size: 14px;
   padding-left: 5px;
   letter-spacing:1px;
   font-family: Arial, Helvetica, sans-serif;
   color: #ad2e50b1;
}
.label{
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing:1px;
    font-weight: bold;
}
.selectedCompany{
    width: 100%;
}
.selectCompany{
    width: 40%;
    outline: none;
    background-color: none;
    border: 2px solid black;
    margin-top: 8px;
    outline: none;
    border: none;
    background-color: rgb(237, 237, 237);
    padding-top: 4px;
    padding-bottom: 4px;
    /* padding: 4px; */
    /* padding-left: 8px; */
}
.companyList{
    color: rgb(94, 92, 92);
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing:1px;
    font-weight: bold;
}

/* .all{
    text-decoration: underline rgb(117, 29, 29) 1px;
} */
.colorSelect{
    margin-top: 8px;
}
.colorArea{
    display: flex;
}
.colors{
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 2px;
    cursor: pointer;
    border: 1px solid #ad2e50b1;
    /* line-break: auto; */
}
.colorActive{
    border: 1px solid #ad2e50b1;
    margin-top: 3px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
}
.colorsAll{
    color: rgb(94, 92, 92);
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing:1px;
    font-weight: bold;
}
input[type='range']{
    /* margin-top: 8px; */
}
input[type='checkbox']{
    margin-left: 30px;
    /* margin-top: 2px; */
    width: 15px;
    height: 15px;
}
.clearButton{
    width: 7.8rem;
    border: none;
    background-color: #ad2e50b1;
    color: white;
    border-radius: 5px;
    letter-spacing: -1px;
    font-family: 'Courier New', Courier, monospace;
    transition: 0.4s;
}
.clearButton:hover{
    background-color: #530b1eb1;
}

                /* container right */

.containerRight{
    /* background-color: red; */
    width: 100%;
    height: auto;
    padding-left: 6rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    /* margin-top: 3rem; */
    padding-top: 2rem;
    position: sticky;
}
.productsCount{
    margin-top: 2px;
    margin-left: 1.5rem;
    color: rgb(94, 92, 92);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing:1px;
    font-weight: bold;
}
.Hrline{
    height: 1px ;
    margin-top: 0.8rem;
    width: 24rem;
    margin-left: 1.5rem;
    background-color: rgb(129, 126, 123);
}
.short{
    margin-left: 2rem;
    margin-top: 2px;
    margin-left: 1.5rem;
    color: rgb(94, 92, 92);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing:1px;
    font-weight: bold;
}
.shortSelect{
    width: 100%;
    background-color: none;
    border: none;
    /* margin-top: 0px; */
    /* margin-left: 1rem; */
    outline: none;
    /* border: none; */
    /* font-weight: 500; */
    /* font-family: Arial, Helvetica, sans-serif; */

    margin-top: 2px;
    margin-left: 1.5rem;
    color: rgb(94, 92, 92);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing:1px;
    font-weight: bold;
}
.cardContainer{
    /* background-color: cyan; */
    margin-top: 5px;
    /* width: 90%; */
    height: 100%;
    overflow-y: scroll ;
    overflow-x: hidden;
    padding: 5px;
    
}
.card{
    /* width: 25%; */
    height: 10rem;
    background-color: gray;
    border-radius: 5px;
}
.card img{
    border-radius: 5px;
}
p{
    margin: 0;
    padding: 0;
}
.gridName{
    font-size: 18px;
    letter-spacing: 1px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    margin-top: 8px;
}
.gridPrice{
    font-size: 18px;
    letter-spacing: 0px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    margin-top: 8px;
    color: rgb(117, 170, 38);
}
.cardDetails{
   padding-top: 35px;
}
.cardName{
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family:sans-serif;
}
.cardPrice{
   color: green;
   font-weight: 500;
   font-family: Arial, Helvetica, sans-serif;
   letter-spacing: 1px;
}
.cardDiscription{
    display:block;
    width: 500px; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Arial, Helvetica, sans-serif;
}
.detailsButton{
    border: none;
    color: white;
    background-color: rgb(60, 148, 60);
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    font-size: 14px;
    margin-top: 20px;
}
.footer{
    text-align: center;
    background-color: rgb(57, 57, 57);
    height: 40px;
    padding-top: 8px;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
}
.footer label{
    color: #0d9d0b;

}














::-webkit-scrollbar {
    width: 0px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    /* border-radius: 10px; */
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(222, 222, 222); 
    /* border-radius: 10px; */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    /* background: #b30000;  */
  }