.container{
    /* padding: 20px; */
    /* position: fixed; */
}

.heading{
    /* background-color: #a4d9a3;
    width: 100%;
    height: 4rem;
    position: fixed; */
    /* display: flex; */
    
}
.heading p {
    /* color: #0f4f0d;
    font-size: 25px;
    margin-top: 12px;
    font-weight: 800; */
    /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}
.heading a{
    /* color: #4b8948; */
    /* text-decoration: none; */
}
/* a:hover{
    color: #0f4f0d;
} */
.BroadCrumps{
    display: flex;
    padding-left: 120px;
    /* cursor: pointer; */
}
.footer{
    text-align: center;
    background-color: rgb(57, 57, 57);
    height: 50px;
    padding-top: 12px;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;


    /* color: rgb(94, 92, 92); */
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing:1px;
    font-weight: bold;
}
.footer label{
    color: #0d9d0b;

}






.header{
    height: 80px;
    background-color:  #a4d9a3;
    /* margin-left: 30px; */
    font-size: 25px;
    /* position: fixed;
    width: 100%; */
}
.header p{
    padding-top: 22px;
    /* margin-left: 30px; */
    font-weight: bold;
    cursor: pointer;
    /* font-size: 20px; */
    color: #4b8948;
}
.BroadCrumps a{
    /* cursor: pointer; */
    /* position: relative; */
    /* color: red; */
}
.link{
    color: #4b8948;
    text-decoration: none;
}
.link:hover{
    color: #3d5b3b;
}
